.gradient-custom {
  /* fallback for old browsers */
  background: #d6001c;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(214, 0, 28, 1),
    rgba(255, 205, 0, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(214, 0, 28, 1),
    rgba(255, 205, 0, 1)
  );
}

/* Header Section */
#header .nav-item {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: 5px;
  margin-right: 20px;
}

#header .nav-link {
  color: black;
  padding: 0 18px;
}
